.color{
    background-color: #B47341;
    color: #EBEBEB;
    font-weight: bold;
}
.text{
    color: #00829B;
    text-decoration: none;
}
.btn-registrar{
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
.btn-registrar:hover{
    border: 1px solid #c1854e;
    border-radius: 8px;
    
}
.checkbox-a:checked{
    accent-color: #FF4081;
}


